<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script>
        // https://tex2e.github.io/blog/latex/mathjax-to-katex
        document.addEventListener("DOMContentLoaded", () => {
            // replace inline
            document.querySelectorAll("script[type='math/tex']").forEach(el => {
                const textNode = document.createTextNode("$" + el.textContent + "$");
                const kdmathNode = document.createElement("span");
                kdmathNode.className = "kdmath";
                kdmathNode.appendChild(textNode);
                el.replaceWith(kdmathNode);
            });

            // replace display
            document.querySelectorAll("script[type='math/tex; mode=display']").forEach(el => {
                const textNode = document.createTextNode(
                    "$$" + el.textContent.replace('% <![CDATA[', '').replace('%]]>', '') + "$$"
                );
                const kdmathNode = document.createElement("div");
                kdmathNode.className = "kdmath";
                kdmathNode.appendChild(textNode);
                el.replaceWith(kdmathNode);
            });

            renderMathInElement(document.body, {
                delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false},
                ]
            });
        });
    </script>
</head>
<body>
    <article class="markdown-body">
        {{ content }}
    </article>
    <style>
        body {
            font-family: sans-serif;
            margin: 3em 5vw;
        }
    </style>
</body>
</html>